.container{
    width: 100vw;
    padding: 3rem 8rem;
    
}

.top{
    
}

.top h2{
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 3.5%;
    line-height: 3.75rem;
    margin-bottom: 1rem;
}

.top p{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.2rem;
    letter-spacing: 1%;
    color: #666666;
}


.carts{
    margin: 4rem 0;
    background-color: #969393;
    display: flex;
    justify-content: space-between;
}
.cart{
    width: 310px;
    height: 600px;
    background-color: #FFFFFF;
    
}

.content{
    margin: 0 10px;
}

img{
    width: 310px;
    height: 224px;
}

.p1{
    color: #FA744A;
    font-weight: 500;
    font-size: 1rem;
    line-height: 3.5rem;
}

.p2{
    /* color: #383838; */
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.btn{
    color: #383838;
    margin-top: 8rem;
    /* margin-left: 1rem; */
}

